td.tabs {
height: 37px;
width: 100%;
padding: 0px;
padding-bottom: 20px;
background-image: url("/Bernie/images/signup_tabs_bg.png");
background-position: top left;
background-repeat: no-repeat;
}

td.spacer {
width: 58px;
padding: 0px;
}

.tab_open, .tab_closed {
text-align: center;
height: 37px;
width: 179px;
padding: 0px;
line-height: 10px;
}

.tab_open {
background-image: url("/Bernie/images/signup_tab_open.png");
background-repeat: no-repeat;
background-position: 0px 33px;
}

td.date {
padding-left: 5px;
max-width: 180px;
}

/* The left side of the table is 450px wide, smaller than the left area of the front page */
td.formarea {
max-width: 450px;
border-right: 1px solid #CBDBC4;
padding-right: 12px;
}

/* An interest */
td#tag,td#tag_selected {
width: 33%;
min-height: 50px;
}

/* A selected interest */
td#tag_selected {
background-color: #CFF8F2;
}

/* Dont let the form get broken when error msgs are displayed */
#email_availability_result, #username_availability_result {
font-size: 10px;
padding-left: 10px;
color: #E06442;
width: 130px;
text-align: left;
}
