p { margin: 0; padding: 0; }

.green {color: #32AA1B;}
.orange {color: #C25B3F; padding: 7px 0px 7px 0px; font-size: 13px; font-weight: normal}

#container {
	width:auto;
	display:block;
}

#head {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #CBDBC4;
}
.highlight {
	color: blue;
	font-weight: bold;
}

#subcontainer {
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
}
#leftcontainer {
	width: 475px;
	float: left;
	padding-right: 20px;
	border-right: 1px solid #CBDBC4;
}
#rightcontainer {
	width: 280px;
        padding-left: 20px;
	float: left;
}

#footer {
	width: 600px;	
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #CBDBC4;
}

#bio {
	border-bottom: 1px solid #CBDBC4;
	padding-bottom: 20px;
}

#bio img {
	width: 200px;
	height: 200px;
	float: left;
}

#bio #picturestuff{
	width: 260px;
        padding-left: 10px;
	min-height: 200px;
        overflow: visible;
	float: left;
	
}

#bio #biotext {
	width: 100%;	
}

#biotext {	
	margin-top: 20px;
}

#comments {
	width: auto;
	height: 300px;
	padding-top: 20px;
	float: left;
}

#purchase {
	width: 280px;
	height: auto;	
	padding-bottom: 20px;
        border-bottom: 1px solid #CBDBC4;	
	float: left;

}

#list {
	width: 90px;	
	padding-top: 20px;
	float: left;
}

#parcel {
	width: 90px;
	margin: 30px 62px 0 0;
	float: right;
}

#similar {
	width: 278px;
	height: auto;
	padding-top: 20px;
	float: right;	
}

.altSug {
	width: 277px;
	height: auto;
	padding-top: 20px;
	float: left;
}

.altPic {
	width: 80px;
	height: 80px;	
	padding-top: 20px;
	float: left;
	
}

#similar .altText {
	width: 170px;
	height: auto;
	padding-top: 20px;
        padding-left: 10px;
	float: left;
}	

#similar .altText .altTitle {
	width: 139px;
	height: auto;	
	float: left;
}

#similar .altText .smallIcon {
	width: 20px;
	height: auto;
	padding-left: 10px;
	float: left;
}
