/* Get styles from master.css; all that follow will override master.css */
@import url(/Bernie/css/master.css);

p { margin: 0; padding: 0; }
ul.hoof {
margin: 0;
padding: 0;
}
ul.hoof li {
margin: ;
padding: 5px 0 2px 40px;
list-style: none;
background: url('http://server.pezcuckow.com/Bernie/images/hoof.png') no-repeat top left;
}
.green {color: green;}
.orange {color: orange;}


#container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#head {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid silver;
}
.highlight {
	color: blue;
	font-weight: bold;
}

#subcontainer {
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
}
#leftcontainer {
	width: 480px;
	float: left;
	padding-right: 20px;
	border-right: 1px solid silver;
}
#rightcontainer {
	width: 278px;
	padding-left: 20px;
	float: left;
}

#footer {
	width: 800px;	
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid silver;
}

#bio {
	border-bottom: 1px solid silver;
	padding-bottom: 20px;
}

#bio img {
	width: 200px;
	height: 200px;
	float: left;
}

#bio #picturestuff{
	width: 280px;
	min-height: 200px;
	float: left;
	
}

#bio #picturestuff h3 { colour: red; } 

#bio #biotext {
	width: 100%;
}

#comments {
	width: 480px;
	height: 300px;
	padding-top: 20px;
	float: left;
}

#purchase {
	width: 278px;
	height: 250px;
	padding-top: 20px;
	border-bottom: 1px solid silver;
	float: left;

}

#similar {
	width: 278px;
	height: 450px;
	padding-top: 20px;
	float: left;

}
	

