	<!-- The comments  STEPHENS PART I THINK-->
			<div id="comments">
				<img src="http://server.pezcuckow.com/Bernie/images/comments.png"></img>
			
			<br><br>
<form action="?{$_SERVER['QUERY_STRING']}" method="post">
 <br><br>
 <p> Add yours: </p>
 <p>
     <table>
        <tr><td><input type="text" class="comment" name="comment" id="comment"/></td></tr>
        <tr><td><input type="hidden" name="suggestion_id" value="{sugId}" /></td><tr>
        <td><input type="submit" class=medium name="submit" value="POST" id="submit"/></td></tr>   
     </table>
</p>
</form>
( . Y . )
{foreach:comments,comment}
					<table style="padding-top: 20px">
						<tr>
							<td>
							<img src="/Bernie/images/{if: isBoy()}boy.png{else}girl.png{end}">

							<span class="{if: isBoy()}comment_boy{else}comment_girl{end}">{comment['username']}</span> 	said:

							<br />{comment['content']}<br />
							<br /><span class="comment_time">{comment['time']}</span>

							</td>
						</tr>
				</table>

				<hr />
			{end}

			</div> <!--  end of comments  -->
