<!-- Check whether the checbox is checked. If yes, use a different style for the label -->
<script type="text/javascript">

function toggle(it) {
  if (it.id == 'tag')
    it.id = 'tag_selected';
  else
    it.id = 'tag';
}

</script>


<tr>
    		<td class="tabs" colspan="3">
    		<!-- Cell for tabs with two sign up steps -->

			<table>
				<tr class="subtitle">
					<td class="spacer"></td>
					<td class="tab_closed">
					<b>STEP 1:</b> User info
					</td>
					<td class="tab_open">
					<b>STEP 2:</b> Interests
					</td>
				</tr>
			</table>
			
    		</td>
    	</tr>
    	<tr>
      <td class="interestsform">
      <section class="text">

      So, what are you interested in? By choosing your interests on this page, Bernie will know what items to suggest to you! Pick as many as you like!

      <p />

      <!-- Begin interests selection form -->
      
      <!-------------------- NEEDS PHP: ideally the interests should be taken from the database, 
                             not hard coded -------------------->
      <!-- NOTE: Javascript bg toggle only works right when user clicks inside the checkbox, not on the label --> 

		 
		 <table style="width: 80%; padding-top: 20px" cellspacing="4px">
		 <form name="interests" action="/Bernie/?p=signup&id=2" method="POST">
		 <tr>
     {foreach:getTagArray(),i,tag}
       <section class="text">
       <!-- Print one table cell with the input type=checkbox and the tag name -->
       <!-- the value of the input is the tag id -->
       <td id="tag" onClick="toggle(this)" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="{print(tag['id'])}" /> {print(tag['tag'])}
			 </td>

      <!-- While the count of the current item % 3 = 0, begin a new row in the table -->
      <!-- This will result in a 3xNumberOfTags table in the form -->
      {if:i % 3 == 0 && i != 0}
      		</tr><tr>
      {else}{end}

      </section>
     {end} 
     </tr>
     
      <!-- SUBMIT button here -->
      <tr colspan="3">
        <td align="right" style="text-align: right; padding: 20px 100px 0px 0px">
		     <input type="submit" value="SUBMIT" class="medium" />
		   </td>
		  </tr>
		  </form>
		  </table>

      </section>

      </td>
  
