<tr>
    		<td class="tabs" colspan="3">
    		<!-- Cell for tabs with two sign up steps -->

			<table>
				<tr class="subtitle">
					<td class="spacer"></td>
					<td class="tab_open">
					<b>STEP 1:</b> User info
					</td>
					<td class="tab_closed">
					<b>STEP 2:</b> Interests
					</td>
				</tr>
			</table>
			
    		</td>
    	</tr>
    	<tr>
<td class="formarea">
      <!-- The left side -->

      <!-- jQuery to check username and email availability 
           Modified from the tutorial at 
           http://web.enavu.com/tutorials/checking-username-availability-with-ajax-using-jquery/ 
           -->

      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
      <script type="text/javascript">

      $(document).ready(function() {  
  
        // Username can be this many characters long  
        // var min_chars_username = 3; 

        // Email can be this many characters long  
        // var min_chars_email = 8; 
 
  
        // Error messages  
        var username_characters_error = 'The username has to be more than '+min_chars_username+' characters long.'; 
        var email_characters_error = 'The email has to be more than '+min_chars_email+' characters long.';   
        var checking_html = 'Checking...';  
  
        // When the submit button is clicked 
        var validusername = true;
        var validemail = true;
        		  
        // Check username
        $('#signup_form').submit(function()
        {  

            // Run the character number check  
            if($('#username').val().length < min_chars_username)
            {  
                // If it's below the minimum show username_characters_error text '  
                $('#username_availability_result').html(username_characters_error).slideDown(); 
                validusername = false; 
            }
            else
            {  
                //else show the cheking_text and run the function to check  
                $('#username_availability_result').html(checking_html).slideDown();  
                check_username_availability();  
            }  

            // Run the character number check  
            if($('#email').val().length < min_chars_email)
            {  
                // If it's below the minimum showemail_characters_error text '  
                $('#email_availability_result').html(email_characters_error).slideDown(); 
                validemail = false;  
            }
            else
            {  
                //else show the cheking_text and run the function to check  
                $('#email_availability_result').html(checking_html).slideDown();  
                check_email_availability();  
            } 
						//alert(validemail);
						//alert(validusername);
            return (validemail&&validusername); 
        });  
      });  
  
			// Function to check username availability  
			function check_username_availability()
			{  
        //get the username  
        var username = $('#username').val();  
  
        // Use ajax to run the check  
/*{!}*/        $.post("?p=ajaxusername", { username: username },  
            function(result)
            {  
                // If the result is 1  
                if(result == 1)
                {  
                    // Show that the username is available  
                    // $('#username_availability_result').slideUp().html(username + ' is available').slideDown();
                    $('#username').removeClass("error");   
                    validusername = true;
                }
                else
                {  
                    validusername = false;
                    // Show that the username is NOT available  
                    $('#username_availability_result').slideUp().html(username + ' is not available').slideDown();  
                    $('#username').addClass("error"); 
                }  
        });  
      }  

      // Function to check email availability  
			function check_email_availability()
			{  
        //get the username  
        var email = $('#email').val();  
  
        // Use ajax to run the check  
/*{!}*/        $.post("?p=ajaxemail", { email: email },  
            function(result)
            {  
                // If the result is 1  
                if(result == 1)
                {  
                    validemail = true;
                    // Show that the username is available  
                    // $('#email_availability_result').html(email + ' is available'); 
                    $('#email').removeClass("error"); 
                }
                else
                {  
                		 validemail = false;
                    // Show that the email is NOT available  
                    $('#email_availability_result').html(email + ' is not available'); 
                    $('#email').addClass("error");  
                }  
        });  
      }  

			</script> 

		 	<section class="text">

		 	<!-- The form -->
		 	<!-- To display error, add class="error" as tag attribute -->
		 	<form name="signup_form" id="signup_form" action="/Bernie/?p=signup&id=1" method="POST" onsubmit="">
			
			<!-- Display errors here in care there are any -->
		 	{if:!empty(error_message)}
			  <div id="errors"><ul>{error_message}</ul></div>
		 	{end}

			<table width="450px">
				<tr>
					<td>
					I am a
					</td>
					<td>

					<!-- Boy or girl -->
					<table><tr>
						<td>
							<img src="/Bernie/images/boy.png" alt="I'm a boy" />
							<input type="radio" name="gender" value="m">
							boy
						</td>
						<td>
							<img src="/Bernie/images/girl.png" alt="I'm a girl" />
							<input type="radio" name="gender" value="f">
							girl
						</td>
					</tr></table>
					
					</td>
				</tr>
				<tr>
					<td>
					My name is
					</td>
					<td>
					<input type="text" name="first_name" maxlength="32"{if: errorLocation("first_name")} class="error"{else}{end}>
					</td>
				</tr>
				<tr>
					<td>
					Choose a username
					</td>
					<td>
					<input type="text" name="username" id="username" maxlength="32"{if: errorLocation("username")} class="error"{else}{end}>
					<div id='username_availability_result'></div> 
					</td>
				</tr>
				<tr>
					<td>
					Date of birth
					</td>
					<td class="date">

					<input type="number" name="day" placeholder="DD" {if: errorLocation("day")}class="date_error"{else}class="date"{end} maxlength="2" min="1" max="31">
					<input type="number" name="month" placeholder="MM" {if: errorLocation("month")}class="date_error"{else}class="date"{end} maxlength="2" min="1" max="12">
					<input type="number" name="year" placeholder="YYYY" {if: errorLocation("year")}class="year_error"{else}class="year"{end} maxlength="4" min="1900" max="2011">
								
					</td>
				</tr>
				<tr>
					<td>
					Parent's name
					</td>
					<td>
					<input type="text" name="parents_name" maxlength="32"{if: errorLocation("parents_name")} class="error"{end}>
					</td>
				</tr>
				<tr>
					<td>
					Parent's email
					</td>
					<td>
					<input type="email" name="parents_email" id="email" maxlength="128"{if: errorLocation("parents_email")} class="error"{end}>
					<div id='email_availability_result'></div> 
					</td>
				</tr>
			</table>

			<p align="center" style="padding: 15px 0px 15px 0px">
			<i>A simple password will be generated and sent to the email provided.</i>
			</p>
	
			<p align="center">
			<input type="submit" value="SUBMIT" class="medium" id="check_availability">
			</p>	
			
			</form>
			<!-- End of form -->
			
			</section>

			<!-- End left content -->

      </td>
			<td class="right">
			
    		<!-- The right side -->	
			<section class="text">
			Bernie is meant to be enjoyed by parents and children alike. In order to be sure that parents are aware of the account creation, we are sending the password and verification link to the parent's e-mail address provided. 
			</section>

			<p />
			
			<div align="center" style="padding-top: 30px;">
			<img align="center" src="/Bernie/images/parent_child.png" alt="Hand in hand" />
			</div>
			
    		</td>
