<!-- Check whether the checbox is checked. If yes, use a different style for the label -->
<script type="text/javascript">

function toggle(it) {
  if (it.id == 'tag')
    it.id = 'tag_selected';
  else
    it.id = 'tag';
}

</script>


<tr>
    		<td class="tabs" colspan="3">
    		<!-- Cell for tabs with two sign up steps -->

			<table>
				<tr class="subtitle">
					<td class="spacer"></td>
					<td class="tab_closed">
					<b>STEP 1:</b> User info
					</td>
					<td class="tab_open">
					<b>STEP 2:</b> Interests
					</td>
				</tr>
			</table>
			
    		</td>
    	</tr>
    	<tr>
      <td class="interestsform">
      <section class="text">

      So, what are you interested in? By choosing your interests on this page, Bernie will know what items to suggest to you! Pick as many as you like!

      <p />

      <!-- Begin interests selection form -->
      
      <!-------------------- NEEDS PHP: ideally the interests should be taken from the database, 
                             not hard coded -------------------->
      <!-- NOTE: Javascript bg toggle only works right when user clicks inside the checkbox, not on the label --> 

     {foreach:getTagArray(),i,tag}{print(tag['tag'])}<br />{end} 
      <form name="interests" action="/Bernie/?p=signup&id=2" method="POST">

		  <table style="width: 80%; padding-top: 20px" cellspacing="4px">
				<tr>
					<td id="tag" onClick="toggle(this)" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="1" /> Cars<br />
					</td>
					<td id="tag" onClick="toggle(this)" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="2" /> Cats<br />
					</td>
					<td id="tag" onClick="toggle(this)" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="3" /> Dogs<br />
					</td>
				</tr>
				<tr>
					<td id="tag" onClick="toggle(this)" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="4" /> Princesses<br />
					</td>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="5" /> Monsters<br />
					</td>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="6" /> Action<br />
					</td>
				</tr>
				<tr>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="7" /> Adventure<br />
					</td>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="8" /> Humour<br />
					</td>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="9" /> Fashion<br />
					</td>
				</tr>
				<tr>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="10" /> Dinosaurs<br />
					</td>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="11" /> Animals<br />
					</td>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="12" /> Arts and crafts<br />
					</td>
				</tr>
				<tr>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="13" /> Fantasy<br />
					</td>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="14" /> Health<br />
					</td>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="15" /> Educational<br />
					</td>
				</tr>
				<tr>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="16" /> Sports<br />
					</td>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="17" /> Television<br />
					</td>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="18" /> Cartoons<br />
					</td>
				</tr>
				<tr>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="19" /> Science<br />
					</td>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="20" /> Puzzles<br />
					</td>
					<td id="tag" onClick="toggle(this)">
					  <input type="checkbox" name="tags[]" value="21" /> Horses<br />
					</td>
				</tr>
				<tr>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="22" /> Celebrities<br />
					</td>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="23" /> Pop<br />
					</td>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="24" /> Nursery rhymes<br />
					</td>
				</tr>
				<tr>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="25" /> Love<br />
					</td>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="26" /> Beauty<br />
					</td>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="27" /> Technology<br />
					</td>
				</tr>
				<tr>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="28" /> Pictures<br />
					</td>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="29" /> Friends<br />
					</td>
					<td id="tag" onClick="toggle(this)">
						<input type="checkbox" name="tags[]" value="30" /> Games<br />
					</td>
				</tr>
				<tr>
					<td colspan="3" style="text-align: right; padding: 20px 15% 0px 0px;">

					<!-- SUBMIT button here -->
					<input type="submit" value="SUBMIT" class="medium" />
					</td>
				</tr>
		  </table>

      </form>

      </section>

      </td>
  
