<tr>
    		<td class="tabs" colspan="3">
    		<!-- Cell for tabs with two sign up steps -->

			<table>
				<tr class="subtitle">
					<td class="spacer"></td>
					<td class="tab_open">
					<b>STEP 1:</b> User info
					</td>
					<td class="tab_closed">
					<b>STEP 2:</b> Interests
					</td>
				</tr>
			</table>
			
    		</td>
    	</tr>
    	<tr>
<td class="formarea">
      <!-- The left side -->

		 	<section class="text">

		 	<!-- The form -->
		 	<!-------------------- NEEDS PHP: form validation -------------------->
		 	<!-- To display error, add class="error" as tag attribute -->
		 	<form name="signup_form" action="/Bernie/?p=signup&id=2" method="POST" onsubmit="">
		 	
			<table width="450px">
				<tr>
					<td>
					I am a
					</td>
					<td>

					<!-- Boy or girl -->
					<table><tr>
						<td>
							<img src="/Bernie/images/boy.png" alt="I'm a boy" />
							<input type="radio" name="gender" value="m">
							boy
						</td>
						<td>
							<img src="/Bernie/images/girl.png" alt="I'm a girl" />
							<input type="radio" name="gender" value="f">
							girl
						</td>
					</tr></table>
					
					</td>
				</tr>
				<tr>
					<td>
					My name is
					</td>
					<td>
					<input type="text" name="first_name" maxlength="32">
					</td>
				</tr>
				<tr>
					<td>
					Choose a username
					</td>
					<td>
					<input type="text" name="username" maxlength="32">
					</td>
				</tr>
				<tr>
					<td>
					Date of birth
					</td>
					<td class="date">

					<input type="number" name="day" placeholder="DD" class="date" maxlength="2" min="1" max="31">
					<input type="number" name="month" placeholder="MM" class="date" maxlength="2" min="1" max="12">
					<input type="number" name="year" placeholder="YYYY" class="year" maxlength="4" min="1900" max="2011">
								
					</td>
				</tr>
				<tr>
					<td>
					Parent's name
					</td>
					<td>
					<input type="text" name="parents_name" maxlength="32">
					</td>
				</tr>
				<tr>
					<td>
					Parent's email
					</td>
					<td>
					<input type="email" name="parents_email" maxlength="128">
					</td>
				</tr>
			</table>

			<p align="center" style="padding: 15px 0px 15px 0px">
			<i>A simple password will be generated and sent to the email provided.</i>
			</p>
	
			<p align="center">
			<input type="submit" value="SUBMIT" class="medium">
			</p>	
			
			</form>
			<!-- End of form -->
			
			</section>

			<!-- End left content -->

      </td>
			<td class="right">
			
    		<!-- The right side -->	
			<section class="text">
			Us explaining how it’s gonna go, parent’s email address to confirm, sending the passw etcetc. And how it’s meant to be used by parent + child together as a pair.
			</section>

			<p />
			
			<div align="center" style="padding-top: 30px;">
			<img align="center" src="/Bernie/images/parent_child.png" alt="Hand in hand" />
			</div>
			
    		</td>
