<!--

Below is the code for all variations of the header WHILE LOGGED IN
This only works if the header is included in master.html, as it includes the onmouseover javascript.

See comments for explanations.

-->

	<table cellspacing="0" cellpadding="0">
		<tr>
			<td class="logo" rowspan="2">
			<!-- Logo here -->
			<a href="?p=home" alt="Go to homepage">
			<img src="/Bernie/images/logo.png" alt="Back to homepage" />
			</a>
			</td>
			<td class="topbar" colspan="2">

			<!-- Begin welcome message
					 Welcome message is displayed when user has logged in 
					 -->

			<table>
				<tr>
					<td id="welcome">
					<section class="text">

					<!-- Use different class for boy and girl: welcome_boy or welcome_girl -->
					<div class="welcome_{if:isBoy()}boy{else}girl{end}">
					Welcome, {first_name}!</div> 
					<div id="welcome_text">We hope you find something new and interesting today!</br>

					</section>
					</td>
					<td id="usernavi">
					<section class="text">
					<div align="right">
					
					<a href="?p=profile" alt="Change profile information">Change profile information</a>
					<br>
					<a href="?p=logout" alt="Logout">Logout</a>
					
					</div>
					</section>
					</td>
				</tr>
			</table>
			
			</td>
		</tr>
		<tr>
			<td class="maincats">

			<!-- The cell for the four tabs -->
			<table>
				<tr>

					<!-- atm all links are active.

					     TO MAKE TAB OPEN, use attributes: 
					     id="cat_open" 
					     style="background-image: url('mouseover_CATEGORYNAME.png')" 
					     there are no onmouseover of onmouseout attributes
					     the img is not a hyperlink

							 TO MAKE TAB CLOSED, use attributes:
							 id="cat_CATEGORYNAME"
							 onmouseover="catMouseover('mouseover_CATEGORYNAME.png', 'cat_CATEGORYNAME')"
							 onmouseout="catMouseout('cat_CATEGORYNAME')"
						 	 -->

                         		<!-- Books -->
					<td{if:isOpen('books')} id="cat_{category}_open"
                                             {else} id="cat_books" 
                                                      onmouseover="catMouseover('/Bernie/images/mouseover_books.png', 'cat_books')"        
                                                      onmouseout="catMouseout('cat_books')"{end}>
                    <a href="?p=bernie&c=books" alt="Bernie Books!">
					<img src="/Bernie/images/icon_books.png" alt="Bernie books!" /></a>
					</td>

					<!-- TV -->
					<td{if:isOpen('tv')} id="cat_{category}_open"
                                             {else} id="cat_tv" 
                                                      onmouseover="catMouseover('/Bernie/images/mouseover_tv.png', 'cat_tv')"        
                                                      onmouseout="catMouseout('cat_tv')"{end}>
					<a href="?p=bernie&c=tv" alt="Bernie TV!">
					<img src="/Bernie/images/icon_tv.png" alt="Bernie TV!" /></a>
					</td>

					<!-- Music -->
					<td{if:isOpen('music')} id="cat_{category}_open"
                                             {else} id="cat_music" 
                                                      onmouseover="catMouseover('/Bernie/images/mouseover_music.png', 'cat_music')"        
                                                      onmouseout="catMouseout('cat_music')"{end}>
					<a href="?p=bernie&c=music" alt="Bernie music!">
					<img src="/Bernie/images/icon_music.png" alt="Bernie music!" /></a>
					</td>

					<!-- Web -->
					<td{if:isOpen('web')} id="cat_{category}_open"
                                             {else} id="cat_web" 
                                                      onmouseover="catMouseover('/Bernie/images/mouseover_web.png', 'cat_web')"        
                                                      onmouseout="catMouseout('cat_web')"{end}>
					<a href="?p=bernie&c=web" alt="Bernie the web!">
					<img src="/Bernie/images/icon_web.png" alt="Bernie the web!" /></a>
					</td>
					
				</tr>
			</table>					

			</td>
			<td class="button">

			<!-- The cell for the link on the right -->

			<!-- Bernie a random category --> 
			<a href={randCat()}" alt="Bernie a random category!">
			<img src="/Bernie/images/bernie_random.png" alt="Bernie a random category!" /></a>
			
			</td>
		</tr>
	</table>
