<!-- Title img -->
<img src="/Bernie/images/my_interests.png" alt="My interests" />
<p />

Here are your chosen interests. Click on the button below to edit them.

<p />

<!-- Make a loop so that it organises the list into two columns -->
<!-------------------- NEEDS LOGIC: loop through all of  the user's chosen interests -------------------->
<!-- Right now displays 7 for testing purposes -->
<ul class="interests">

<table>
	<tr>
		<td width="100%" style="vertical-align:top">
    {if:empty(interests)}You have no interests!{end}
    {foreach:interests,i,value}
      {if:i <= 28}
      <li>{value}</li>
      {end}
    {end}
			
		</td>
	</tr>
</table>

</ul>

<p />

<!-- Not sure if this is supposed to be a type="submit" or just a link. 
		 Type=submit for now for convenienve -->
<input type="submit" class="large" value="EDIT INTERESTS" />
