<!-- Title img -->
<img src="/Bernie/images/recent_likes.png" alt="Recent likes" />

<p />

Here are your most recent likes. Click on the button below to see all of your likes.

<p />

<table>

<!-------------------- NEEDS LOGIC: use loop? to display three most recent likes -------------------->
<!-- Right now displays three for testing purposes -->
<!-- Pseudo code, ignore -->
<!--			{!}{foreach:likes,like} while interest index >= allinterests - 3 ) -->
<!--				   {!}<!-- code here for table row --> <!--{like} -->
<!--			{!}{end} -->

<!-- Begin code for one recent like item: this is the part that needs to be looped -->
	<tr>
		<td>

		<!-- Begin table to display one like object -->
		<!-------------------- NEEDS LOGIC: which img to display? 
																			 which category img to display?
																			 which title to use?
																			 which desc to use?
																			 where the link takes them?-------------------->
		<table width="100%">
			<tr>
				<td width="103px">
				<img src="" width="103px" height="103px" style="border: 1px solid #2F84B3">
				</td>
				<td>

					<table><tr><td>
					<div class="item_title_small">{altTitle1}</div>
					</td><td>
					<img src="/Bernie/images/icon_web_small.png" alt="Cateogyr name">
					</td></tr></table>

					<!-- Use truncate function here (in inc/lib.php)-->
					Short description of item here. Short description of item here. Short description of item here...
					<br /><a href="" alt="Go to this item!">Go to item!</a>
						
				</td>
			</tr>
		</table>
					
		</td>
	</tr>
<!-- End code for one recent like -->
<!-- Begin code for one recent like item: this is the part that needs to be looped -->
	<tr>
		<td>

		<!-- Begin table to display one like object -->
		<!-------------------- NEEDS LOGIC: which img to display? 
																			 which category img to display?
																			 which title to use?
																			 which desc to use?
																			 where the link takes them?-------------------->
		<table width="100%">
			<tr>
				<td width="103px">
				<img src="" width="103px" height="103px" style="border: 1px solid #2F84B3">
				</td>
				<td>

					<table><tr><td>
					<div class="item_title_small">Item title here</div>
					</td><td>
					<img src="/Bernie/images/icon_web_small.png" alt="Cateogyr name">
					</td></tr></table>

					<!-- Use truncate function here (in inc/lib.php)-->
					Short description of item here. Short description of item here. Short description of item here...
					<br /><a href="" alt="Go to this item!">Go to item!</a>
						
				</td>
			</tr>
		</table>
					
		</td>
	</tr>
<!-- End code for one recent like -->
<!-- Begin code for one recent like item: this is the part that needs to be looped -->
	<tr>
		<td>

		<!-- Begin table to display one like object -->
		<!-------------------- NEEDS LOGIC: which img to display? 
																			 which category img to display?
																			 which title to use?
																			 which desc to use?
																			 where the link takes them?-------------------->
		<table width="100%">
			<tr>
				<td width="103px">
				<img src="" width="103px" height="103px" style="border: 1px solid #2F84B3">
				</td>
				<td>

					<table><tr><td>
					<div class="item_title_small">Item title here</div>
					</td><td>
					<img src="/Bernie/images/icon_web_small.png" alt="Cateogyr name">
					</td></tr></table>

					<!-- Use truncate function here (in inc/lib.php)-->
					Short description of item here. Short description of item here. Short description of item here...
					<br /><a href="" alt="Go to this item!">Go to item!</a>
						
				</td>
			</tr>
		</table>
					
		</td>
	</tr>
<!-- End code for one recent like -->
</table>

<p />
<!-- Not sure if this is supposed to be a type="submit" or just a link. 
		 Type=submit for now for convenienve -->
<input type="submit" class="large" value="SEE ALL" onclick="location.href='?p=likes';"/>

