<!-- Title img -->
<img src="/Bernie/images/recent_likes.png" alt="Recent likes" />

<p />

Here are your most recent likes. Click on the button below to see all of your likes.

<p />

<table>

  
	<tr>
		<td>

		<!-- Begin table to display one like object -->
	  {if:!empty(lastThreeLiked['recImage1'])}
		<table width="100%">
			<tr>
				<td width="103px">
				<img src="simages/{lastThreeLiked['recImage1']}" width="100px" height="100px" style="border: 1px solid #2F84B3"/>
				</td>
				<td>

					<table><tr><td>
					<div class="item_title_small">{lastThreeLiked['recTitle1']}</div>
					</td><td>
					<img src="/Bernie/images/icon_{lastThreeLiked['recCategory1']}_small.png" alt="Cateogyr name">
					</td></tr></table>

					<!-- Use truncate function here (in inc/lib.php)-->
					{lastThreeLiked['recDisc1']}
					<br /><a href="?p=bernie&c={lastThreeLiked['recCategory1']}&id={lastThreeLiked['recId1']}"" alt="Go to this item!">Go to item!</a>
						
				</td>
			</tr>
		</table>
		{else} 

	<div style="padding-top: 10px; padding-bottom: 10px">

<table><tr><td width="30px">
	<img src="/Bernie/images/hoof.png"></td><td>
		You haven't liked anything yet! Perhaps you should <a href={randCat()} alt="Bernie a random category!">start Bernying</a> or <a href=?p=editinterests>change your interests?</a> </td></tr></table></div>{end}			
		</td>
	</tr>
  
<!-- End code for one recent like -->
<!-- Begin code for one recent like item: this is the part that needs to be looped -->
	<tr>
		<td>

		<!-- Begin table to display one like object -->
		<!-------------------- NEEDS LOGIC: which img to display? 
																			 which category img to display?
																			 which title to use?
																			 which desc to use?
																			 where the link takes them?-------------------->
    {if:!empty(lastThreeLiked['recImage2'])}
		<table width="100%">
			<tr>
				<td width="103px">
				<img src="simages/{lastThreeLiked['recImage2']}" width="100px" height="100px" style="border: 1px solid #2F84B3"/>
				</td>
				<td>

					<table><tr><td>
					<div class="item_title_small">{lastThreeLiked['recTitle2']}</div>
					</td><td>
					<img src="/Bernie/images/icon_{lastThreeLiked['recCategory2']}_small.png" alt="Cateogyr name">
					</td></tr></table>

					<!-- Use trunc{lastThreeLiked['altTitle1']}ate function here (in inc/lib.php)-->
					{lastThreeLiked['recDisc2']}
					<br /><a href="?p=bernie&c={lastThreeLiked['recCategory2']}&id={lastThreeLiked['recId2']}"" alt="Go to this item!">Go to item!</a>
						
				</td>
			</tr>
		</table>
	  {end}		
		</td>
	</tr>

<!-- End code for one recent like -->
<!-- Begin code for one recent like item: this is the part that needs to be looped -->
	<tr>
		<td>

		<!-- Begin table to display one like object -->
		<!-------------------- NEEDS LOGIC: which img to display? 
																			 which category img to display?
																			 which title to use?
																			 which desc to use?
																			 where the link takes them?-------------------->
    {if:!empty(lastThreeLiked['recImage3'])}
		<table width="100%">
			<tr>
				<td width="103px">
				<img src="simages/{lastThreeLiked['recImage3']}" width="100px" height="100px" style="border: 1px solid #2F84B3"/>
				</td>
				<td>

					<table><tr><td>
					<div class="item_title_small">{lastThreeLiked['recTitle3']}</div>
					</td><td>
					<img src="/Bernie/images/icon_{lastThreeLiked['recCategory3']}_small.png" alt="Cateogyr name">
					</td></tr></table>

					<!-- Use truncate function here (in inc/lib.php)-->
					{lastThreeLiked['recDisc3']}
					<br /><a href="?p=bernie&c={lastThreeLiked['recCategory3']}&id={lastThreeLiked['recId3']}"" alt="Go to this item!">Go to item!</a>
						
				</td>
			</tr>
		</table>
		{end}			
		</td>
	</tr>
<!-- End code for one recent like -->
</table>


<p />
<!-- Not sure if this is supposed to be a type="submit" or just a link. 
		 Type=submit for now for convenienve -->
{if:!empty(lastThreeLiked['recImage1'])}
<input type="submit" class="large" value="SEE ALL" onclick="location.href='?p=likes';"/>
{end}

