<html>

<div id="container">
	<div id="head">
		<p>some book <b class="{category}">{ucwords(category)}</b></p>
		<p>click on something i dont care what</p>
	</div>
	<div id="subcontainer">
		<div id="leftcontainer">
		
			<div id="bio">
				
				<img src="./udhfsdhif"></img>
				<div id="picturestuff">
					<p class ="item_title">Guess how soppy this is -- reaching
					the border on the right</p>
					<p class = orange>Rate this item:</p>
					<img style="WIDTH: 60px; HEIGHT: 60px"
					src="/Bernie/images/rate_up.png" 
					/>
					<img style="WIDTH: 60px; HEIGHT: 60px"
					src="/Bernie/images/rate_down.png"
					/>
					<!-- how do I fix this without <br> -->
					<br> <br> <br> 
					<section class="text">
					<ul class="hoof">
						<li><font color="green">Author</font> Author</li>				
						<li><font color="green">Year</font> Year</li>				
						<li><font color="green">Length</font> Length</li>
					</ul>
					</section>
					
				</div>	
						
				<div id="biotext">
					<p> <span class="subtitle"> The summary of the book
					which should span across until the border on the
					right</p>
					<p> <section class="text">The description of the book which should also
					span until the border</section></p>
				</div>
				
			</div>
		
		       	<div id="comments">
			<img src="http://server.pezcuckow.com/Bernie/images/comments.png"></img>
			<br> <br>
			<p> Add yours: </p>
			<br> 
			<p> Html form on this line </p>
			</div>
		
		
		</div>
		<div id="rightcontainer">
			<div id="purchase">
				
				<div id ="list">
			
					<img src="http://server.pezcuckow.com/Bernie/images/get_this_item.png"></img>
					<br>
					<ul class="hoof">
								<li><img src="http://server.pezcuckow.com/Bernie/images/ebay_logo.png" /></li>				
								<li><img src="http://server.pezcuckow.com/Bernie/images/amazon_logo.png" /></li>	
					</ul>
				</div>
				<div id ="parcel">
			        <img src="http://server.pezcuckow.com/Bernie/images/parcel.png" />
				</div>
				
			</div>
			
			<div id="similar">
				<img src="http://server.pezcuckow.com/Bernie/images/similar_items.png" />
				
				<div class ="altSug">				
					<div class ="altPic">
					<img src="./udhfsdhif"></img>					
					</div>
										
					<div class ="altText">
					<text class="green"> Alt Title </text>
					<img src="http://server.pezcuckow.com/Bernie/images/icon_books_small.png" />
					<section class="text">
					<p> short description of alternate suggestion which doesnt fit insi... <br>
					<text class="orange"> Go to item! </text></p>
					</section>
					</div>
				</div>
				
				<div class ="altSug">				
					<div class ="altPic">
					<img src="./udhfsdhif"></img>					
					</div>
										
					<div class ="altText">
					<text class="green"> Alt Title </text>
					<img src="http://server.pezcuckow.com/Bernie/images/icon_books_small.png" />
					<section class="text">
					<p> short description of alternate suggestion which doesnt fit insi... <br>
					<text class="orange"> Go to item! </text></p>
					</section>
					</div>
				</div>
				
				<div class ="altSug">				
					<div class ="altPic">
					<img src="./udhfsdhif"></img>					
					</div>
										
					<div class ="altText">
					<text class="green"> Alt Title </text>
					<img src="http://server.pezcuckow.com/Bernie/images/icon_books_small.png" />
					<section class="text">
					<p> short description of alternate suggestion which doesnt fit insi... <br>
					<text class="orange"> Go to item! </text></p>
					</section>
					</div>
				</div>		
				
			</div>
			
		</div>
	</div>
	<div id="footer" align="center">
	<img src="http://server.pezcuckow.com/Bernie/images/button_bernie.png" />
	<img src="http://server.pezcuckow.com/Bernie/images/bernie_head.png" />	
	</div>
<div>

</html>

