<table width="100%">
	<tr>
		<td colspan="2">
		<section class="text">
		<!-- Begin the item information -->

		<p>You are now Bernying <b class="{category}">{strtoupper(category)}</b></p>
		<p>Click on the {strtoupper(category)} tab or the button at the bottom of the page to Bernie more {strtoupper(category)}! 

		<hr />

		</td>
	</tr>
	<tr>
	<td width="500px" class="right" style="border-right: 1px solid #cbdbc4">
		<!-- Begin table for image and key information -->
		<table style="padding-bottom: 15px; padding-top: 20px">
			<tr>
				<td width="205px">
				<img src="simages/{sugImage}" style="border: 1px solid #2F84B3"></img>
				</td>
				<td style="vertical-align: top">

				<!--  The title of the suggestion -->
				<span class ="item_title"> {sugTitle} </span>
				<br />
				<span class="orange"> Rate this item:</span>
					
					<!--  The rating buttons, these will be interactive 
					when mouseover, will change to highlighted.
					when clicked. will always be highlighted and run some php to add the suggestionID to a database
					also "unclicks and removes from alternate like database" if the alternate like is "highlighted"	-->
					
					<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
					<script type="text/javascript">					

					$(document).ready(function() {

					 {if:isLiked()}
					 $("#likeButton").toggle(function() {						
						sendMessage({sugId}, "unlike", this, "/Bernie/images/rate_up.png", "#dislikeButton", "/Bernie/images/rate_down.png");
					 }, function() {
						sendMessage({sugId}, "like", this, "/Bernie/images/rate_up_done.png");
           });
					 

				 	{else}
					 $("#likeButton").toggle(function() {
						sendMessage({sugId}, "like", this, "/Bernie/images/rate_up_done.png");
					 }, function() {
						sendMessage({sugId}, "unlike", this, "/Bernie/images/rate_up.png");
					 });
					{end}
					
           {if:isDisliked()}
					 $("#dislikeButton").toggle(function() {
						sendMessage({sugId}, "undislike", this, "/Bernie/images/rate_down.png");
					 }, function() {
						sendMessage({sugId}, "dislike", this, "/Bernie/images/rate_down_done.png");
					 });

				 	{else}
					 $("#dislikeButton").toggle(function() {
						sendMessage({sugId}, "dislike", this, "/Bernie/images/rate_down_done.png");
					 }, function() {
						sendMessage({sugId}, "undislike", this, "/Bernie/images/rate_down.png");	
          });				 
					{end}

          });


					function sendMessage(id, msg, button, imgsrc, otherbutton, otherimg) {
						var dataString = 'p=ajax&id='+ id + '&msg=' + msg;
						 //alert (dataString);return false;
						 $.ajax({
						    type: "GET",
						    url: "index.php",
						    data: dataString,
						    success: function() {
							$(button).attr("src",imgsrc);
							$(otherbutton).attr("src",otherimg);
						    },
						    error: function() {
							alert("Failed");
						    }
						  });
						return false;
					}
					
					</script>
<br />
					{if:isLiked()}
          <img id="likeButton" style="WIDTH: 60px; HEIGHT: 60px; cursor: pointer" 
					src="http://server.pezcuckow.com/Bernie/images/rate_up_done.png" />          
          {else}
          <img id="likeButton" style="WIDTH: 60px; HEIGHT: 60px; cursor: pointer"
					src="http://server.pezcuckow.com/Bernie/images/rate_up.png" /> 
          {end}
          {if:isDisliked()}
          <img id="dislikeButton" style="WIDTH: 60px; HEIGHT: 60px; cursor: pointer"
					src="http://server.pezcuckow.com/Bernie/images/rate_down_done.png" />          
          {else}
          <img id="dislikeButton" style="WIDTH: 60px; HEIGHT: 60px; cursor: pointer"
					src="http://server.pezcuckow.com/Bernie/images/rate_down.png" /> 
          {end}
					
          
					<!-- how do I fix this without <br> -->
					<p />
					<section class="text">
					<ul class="key_info">
	                                <li><b class="key_info">Author</b> {sugAuthor}</li>				
	                                <li><b class="key_info">Year</b> {sugYear} </li>
                                	{if:isOpen('web')} 		
	                             	<li> <a href="{url}" target="_blank"> View website! </a> </li>

	                               	{elseif:isOpen('music')} 
	                               	<li> <a href="{url}" target="_blank"> View on Youtube! </a> </li>
	                               	{else}	
	                               	<li><b class="key_info">Length</b> {sugLength} </li>
	                               	{end}
	                                </ul>
					</section>
				</td>
			</tr>
		</table>

		<p />

		<!-- Begin the description section -->
		<section class="text">
		<span class="subtitle"> {sugSubTitle}</span>
		<p style="margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #cbdbc4">  {sugDescription} </p>
		</section>
		
		<!-- Begin comments section -->
		<span class="padding-top: 20px; ">
		{include:includes/Comments.html}
		</span>

		</section>
		</td>
		<td class="right" style="padding-top: 15px">

		<!-- Get this item -->
		<img src="http://server.pezcuckow.com/Bernie/images/get_this_item.png">
		<p>


		<table style="padding-bottom: 15px"><tr><td>
		<ul class="hoof">
		<!-- So this should link to an ebay search of suggestion title and category. EBAY SUPPORTS YOU JUST LINKING TO
                                                                   "http://shop.ebay.co.uk/i.html?_nkw=" + sugestion title + category so thats nice -->
			<li>  <a href="http://shop.ebay.co.uk/i.html?_nkw={sugTitle}+{ucwords(category)}" target="_blank">
            <img src="http://server.pezcuckow.com/Bernie/images/ebay_logo.png" alt="Image of ebay" /> </a> </li>

<!-- http://www.amazon.co.uk/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords={sugTitle}+{ucwords(category)}&x=0&y=0 -->			
			<li><a href="http://www.amazon.co.uk/s/re_sb_noss?url=search-alias%3Daps&field-keywords={sugTitle}+{ucwords(category)}&x=0&y=0" target="_blank">  
					<img src="http://server.pezcuckow.com/Bernie/images/amazon_logo.png" alt="Image of amazon" /> </a> </li>	
		</ul>
		</td>
		<td>
		
			        <img src="http://server.pezcuckow.com/Bernie/images/parcel.png" />
		

		</td>
		</tr></table>

		<hr />

		<!-- Begin similar items -->
		<img src="http://server.pezcuckow.com/Bernie/images/similar_items.png" style="padding-top: 20px"/>
		<p />
		<section class="text">
		<table>
			<tr>
			<!-- SIMILAR ITEM 1 -->
				<td width="70px" height="70px" style="vertical-align: top">
				<img src="simages/{altImage1}" width="75px" height="75px" style="border: 1px solid #2F84B3" />
				</td>
				<td>

				<table><tr><td>
					<div class="item_title_small" style="text-align: left">{altTitle1}</div>
					</td><td>
					<img src=http://server.pezcuckow.com/Bernie/old/Original%20Files/icon_{altCategory1}_small.png />
				</td></tr></table>

					<!-- Use truncate function here (in inc/lib.php)-->
					{altDisc1}
					<br /><a href="?p=bernie&c={altCategory1}&id={altSugId1}"" alt="Go to this item!">Go to item!</a>
						
				</td>
			</tr>
			<tr>
<!-- SIMILAR ITEM 2 -->
				<td width="70px" height="70px" style="vertical-align: top">
				<img src="simages/{altImage2}" width="75px" height="75px" style="border: 1px solid #2F84B3" />
				</td>
				<td>

				<table><tr><td>
					<div class="item_title_small" style="text-align: left">{altTitle2}</div>
					</td><td>
					<img src=http://server.pezcuckow.com/Bernie/old/Original%20Files/icon_{altCategory2}_small.png />
				</td></tr></table>

					<!-- Use truncate function here (in inc/lib.php)-->
					{altDisc2}
					<br /><a href="?p=bernie&c={altCategory2}&id={altSugId2}"" alt="Go to this item!">Go to item!</a>
						
				</td>
			</tr>
<!-- SIMILAR ITEM 3 -->
				<td width="70px" height="70px" style="vertical-align: top">
				<img src="simages/{altImage3}" width="75px" height="75px" style="border: 1px solid #2F84B3" />
				</td>
				<td>

				<table><tr><td>
					<div class="item_title_small" style="text-align: left">{altTitle3}</div>
					</td><td>
					<img src=http://server.pezcuckow.com/Bernie/old/Original%20Files/icon_{altCategory3}_small.png />
				</td></tr></table>

					<!-- Use truncate function here (in inc/lib.php)-->
					{altDisc3}
					<br /><a href="?p=bernie&c={altCategory3}&id={altSugId3}"" alt="Go to this item!">Go to item!</a>
						
				</td>
			<tr>
			</tr>			
		</table>
		</section>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center" style="text-align:center; padding-top: 20px">

		<table width="100%"><tr>
		<td style="vertical-align:middle; text-align: right; width: 60%">

		<form name="xxx" action="?p=bernie&c={category}" method="POST">
	<input type="submit" class="bernie" value="Bernie more {ucwords(category)}">
	</form>
		</td>
		<td style="vertical-align:middle; text-align: left; width: 40%">

		<img src="http://server.pezcuckow.com/Bernie/images/bernie_head.png" />	
		
		</td>
		</tr></table>
		
		</td>
	</tr>
</table>
