<html>
	<head>
		<LINK REL=StyleSheet HREF="../css/styleBernie.css" TYPE="text/css" MEDIA=screen>
	</head>
<body>	
<div id="container">
	<div id="head">
		<p>some book <span class="highlight">BOOKS</a></p>
		<p>clickl on something i dont care what</a>
	</div>
	<div id="subcontainer">
		<div id="leftcontainer">
		
			<div id="bio">
				
				<img src="./udhfsdhif"></img>
				<div id="picturestuff">
					<h3 class = green>guess how soppy this is -- reaching
					the border on the right</h3>
					<p class = orange>Rate this item:</p>
					<img style="WIDTH: 75px; HEIGHT: 75px"src="http://server.pezcuckow.com/Bernie/images/rate_up.png"></img>
					<img  style="WIDTH: 75px; HEIGHT: 75px"src="http://server.pezcuckow.com/Bernie/images/rate_down.png"></img>
					<!-- how do I fix this without <br> -->
					<br> <br> <br> <br>
					<ul class="hoof">
						<li><font color="green">Author</font> Author</li>				
						<li><font color="green">Year</font> Year</li>				
						<li><font color="green">Length</font> Length</li>				
					</ul>
				</div>
			
				<div id="biotext">
					<p> <span class="highlight"> The summary of the book
					which should span across until the border on the
					right</p>
					<p> The description of the book which should also
					span until the border</p>
				</div>
				
			</div>
		
		       	<div id="comments">
			<img src="http://server.pezcuckow.com/Bernie/images/comments.png"></img>
			<br> <br>
			<p> Add yours: </p>
			<br> 
			<p> Html form on this line </p>
			</div>
		
		
		</div>
		<div id="rightcontainer">
			<div id="purchase">
			<img src="http://server.pezcuckow.com/Bernie/images/get_this_item.png"></img>
			<br>
			<ul class="hoof">
						<li><img src="http://server.pezcuckow.com/Bernie/images/ebay_logo.png"></img></li>				
						<li><img src="http://server.pezcuckow.com/Bernie/images/amazon_logo.png"></img></li>	
			</ul>
			
			</div>
			
			<div id="similar">
			<img src="http://server.pezcuckow.com/Bernie/images/similar_items.png"></img>
			including go to item
			</div>
		
		</div>
	</div>
	<div id="footer">asdasf</div>
<div>
</body>
</html>

