<table width="100%">
    <tr>
    		<td class="title">
    		<!-- What is Bernie? -->
			<img src="/Bernie/images/what_is_bernie.png" alt="What is Bernie?" />
    		</td>
    		<td class="title">
    		<!-- It's safe! -->
			<img src="/Bernie/images/its_safe.png" alt="It's safe!" />
    		</td>
    	</tr>
    	<tr>
      <td class="left" width="568px">
      
      <!-- Left content -->
  
      <section class="subtitle">
      Welcome to <b>BERNIE</b>! Spend time with Bernie and it will learn to know you and predict what you like! You will never be bored again! <img src="/Bernie/images/wow.png">
      </section>  

      <p />

			<!-- To Bernie -->
      <hr />
      <table>
      		<tr>
      			<td>
					<img src="/Bernie/images/hoof.png" alt="A green hoof" />
					</td>
					<td id="toBernie">
					to Ber&middot;nie
					</td>
					<td id="toBernie">
					<img src="/Bernie/images/speaker.png" alt="speaker" />
					</td>
					<td id="definition">
					<i>-verb</i> &#124; witty explanation of what it means to Bernie.
					</td>
				</tr>
			</table>      
      <hr />

			<p />

			<section class="text">
			Bernie is a suggestion engine meant to be used by parents and children as a pair to find activities to do, learn new things or just have fun. Choose from a range of interests and pick a category to Bernie. For each item Bernie suggests to you, say whether you like it or not -  by doing so Bernie will gradually learn your interests and know how to suggests items that you are sure to like! Endless fun awaits you so go ahead and <a href="/?p=signup">sign up</a>! 
			<br />We have four great categories to choose from:

			<p />

			<!-- Table of four categories -->
			<table id="categories" cellspacing="20px">
				<tr>
					<td id="icon">
					<img src="/Bernie/images/books_large.png" alt"Books" />
					</td>
					<td>
					<b class="books">BOOKS</b> How do you find the right book to read? Use Bernie and it will suggest a good book that matches your interests! Lots to choose from!
					<p/>
					</td>
				</tr>
				<tr>
					<td id="icon">
					<img src="/Bernie/images/tv_large.png" alt"TV" />
					</td>
					<td>
					<b class="tv">TV</b> Remember Lion King? Ever wanted to find a similar film or TV show? Now you can! Yay!
					</td>
				</tr>
				<tr>
					<td id="icon">
					<img src="/Bernie/images/music_large.png" alt"Music" />
					</td>
					<td>
					<b class="music">MUSIC</b> From Justin Bieber to Spice Girls, find the right soundtrack to suit your mood. 
					</td>
				</tr>
				<tr>
					<td id="icon">
					<img src="/Bernie/images/web_large.png" alt"Websites" />
					</td>
					<td>
					<b class="web">WEBSITES</b> The Internet has endless fun to offer, from puzzles and games to storytelling and arts & crafts. Get started now!
					</td>
				</tr>
			</table>
			
			</section>

			<!-- End left content -->

      </td>
			<td class="right">
			
    		<!-- Right content -->

			<!-- Why it's safe -->
			
    		<section class="text">
			Either log in or <a href="?p=signup" alt="Create an account!">create and account</a> to begin exploring!
We require you to sign up for bladidadia purposes, but really, it’s super safe and we wont use your information for evil.
			</section>

			<hr />
			<p />

			<!-- Tip from Bernie -->
			<section id="tip">
			{tip}
			</section>
			
    		</td>
    	</tr>
	</table>
