<table width="100%">
    <tr>
    		<td class="title">
    		<!-- What is Bernie? -->
			<img src="what_is_bernie.png" alt="What is Bernie?" />
    		</td>
    		<td class="title">
    		<!-- It's safe! -->
			<img src="its_safe.png" alt="It's safe!" />
    		</td>
    	</tr>
    	<tr>
      <td class="left">
      
      <!-- Left content -->
  
      <section class="subtitle">
      A few lines of txt to appeal to kids. <b>BOLD</b> Lorem ipsum dolor sit amet, 
      con. Mauris porta fringilla sem vitae fringilla.
      </section>  

      <p />

			<!-- To Bernie -->
      <hr />
      <table>
      		<tr>
      			<td>
					<img src="hoof.png" alt="A green hoof" />
					</td>
					<td id="toBernie">
					to Ber&middot;nie
					</td>
					<td id="toBernie">
					<img src="speaker.png" alt="speaker" />
					</td>
					<td id="definition">
					<i>-verb</i> &#124; witty explanation of what it means to Bernie.
					</td>
				</tr>
			</table>      
      <hr />

			<p />

			<section class="text">
			Paragraph of text here to appeal to parents. Fusce ultricies ornare hendrerit. In ultrices odio adipiscing dolor varius sodales. Sed nec ligula justo, nec ornare odio. Cras quis metus justo. In ullamcorper nisi malesuada massa pharetra porttitor. Sed et sem ac leo vehicula sagittis. Sed justo odio, fringilla sit amet vulputate vel, dignissim nec tellus. Sed cursus malesuada malesuada.  We have four great categories to choose from:

			<p />

			<!-- Table of four categories -->
			<table id="categories" cellspacing="20px">
				<tr>
					<td id="icon">
					<img src="books_large.png" alt"Books" />
					</td>
					<td>
					<b class="books">BOOKS</b> Nulla facilisi. Vivamus vitae risus metus. Integer in ornare urna. Fusce ut justo orci. Great selection!!
					<p/>
					</td>
				</tr>
				<tr>
					<td id="icon">
					<img src="tv_large.png" alt"TV" />
					</td>
					<td>
					<b class="tv">TV</b> Nulla facilisi. Vivamus vitae risus metus. Integer in ornare urna. Fusce ut justo orci. Great selection!!
					</td>
				</tr>
				<tr>
					<td id="icon">
					<img src="music_large.png" alt"Music" />
					</td>
					<td>
					<b class="music">MUSIC</b> Nulla facilisi. Vivamus vitae risus metus. Integer in ornare urna. Fusce ut justo orci. Great selection!!
					</td>
				</tr>
				<tr>
					<td id="icon">
					<img src="web_large.png" alt"Websites" />
					</td>
					<td>
					<b class="web">WEBSITES</b> Nulla facilisi. Vivamus vitae risus metus. Integer in ornare urna. Great selection!!
					</td>
				</tr>
			</table>
			
			</section>

			<!-- End left content -->

      </td>
			<td class="right">
			
    		<!-- Right content -->

			<!-- Why it's safe -->
			
    		<section class="text">
			Either log in or <a href="" alt="Create an account!">create and account</a> to begin exploring!
We require you to sign up for bladidadia purposes, but really, it’s super safe and we wont use your information for evil.
			</section>

			<hr />
			<p />

			<!-- Tip from Bernie -->
			<section id="tip">
			Brush your teeth before bedtime!
			</section>
			
    		</td>
    	</tr>
	</table>