<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <title>{name}: {title}</title>
  
  <link rel="stylesheet" type="text/css" href="/Bernie/css/master.css">

  <script>
    // View category name on mouseover
		function catMouseover (image, id)
		{
			var element = document.getElementById(id);
			element.style.backgroundImage = "url("+image+")";
		}

    // Clear category name on mouseout
		function catMouseout (id)
		{
			var element = document.getElementById(id);
			element.style.backgroundImage = "";
		}
  </script>

</head>

<body>

  <!-- The header area starts here -->
  <header>
  <section class="header">

  <!-- Code for header area here (width and padding has been applied) -->
 
  </section>
  </header>
  <!-- End of the header area -->

  <!-- The content area starts here -->
  <section class="content">
  
  <!-- Code for content area here (width and padding has been applied) -->
  {content}

  </section>
  <!-- End of content area -->

  <!-- Begin footer -->
  <footer>
  
  <!-- The footer class makes the background img appear -->
  <section class="footer">
  {footer}
  </section>
  
  </footer>
  <!-- End footer -->
</body>
</html>
