	<section class="text">

<img src="/Bernie/images/My_Profile.png" alt="My Profile" style="padding-bottom: 20px" />

<p style="padding-bottom: 15px">
Use this page to edit your profile information.
<p />

		 	<!-- The form -->
		 	<!-------------------- NEEDS PHP: make the form work -------------------->
		 	<!-- To display error, add class="error" as tag attribute -->
		 	<form action="" method="">

			<table width="500px">
				<tr>
					<td>
					I am a
					</td>
					<td>

					<!-- Boy or girl -->
					<table><tr>
						<td>
							<img src="/Bernie/images/boy.png" alt="I'm a boy" />
							<input type="radio" name="gender" value="boy"{if:isBoy()} checked{else}{end}>
							boy
						</td>
						<td>
							<img src="/Bernie/images/girl.png" alt="I'm a girl" />
							<input type="radio" name="gender" value="girl"{if:isGirl()} checked{else}{end}>
							girl
						</td>
					</tr></table>

					</td>
				</tr>
				<tr>
					<td>
					My name is
					</td>
					<td>
					<input type="text" name="name"value="{first_name}"  maxlength="32">
					</td>
				</tr>
				<tr>
					<td>
					Date of birth
					</td>
					<td class="date">

					<input type="number" name="day" value='<?php echo date("D", {dob});>' class="date" maxlength="2" min="1" max="31">
					<input type="number" name="month" value='{!}{date("m", dob}'  class="date" maxlength="2" min="1" max="12">
					<input type="number" name="year" value='{!}{date("Y", dob}' class="year" maxlength="4" min="1900" max="2011">

					</td>
				</tr>
				<tr>
					<td>
					Parent's name
					</td>
					<td>
					<input type="text" name="parentsname" value="{parents_name}" maxlength="16">
					</td>
				</tr>
				<tr>
					<td>
					Parent's email
					</td>
					<td>
					<input type="email" name="parentsemail" value="{parents_email}" maxlength="128">
					</td>
				</tr>
			</table>

			<p style="padding-bottom: 15px; padding-top: 15px">
			<input type="checkbox" name="newpassword">
                        Tick this box if you want a new password to be sent to the provided e-mail address.
			<p />

			<p align="left">
			<input type="submit" value="SUBMIT" class="medium">
			</p>	

			</form>
			<!-- End of form -->
</section>
