<!--        
FILE/PATH.PHP
The sign up page
Code here for the title and tabs, forms for changing profile information and editing interests are included.

Usage: User gets to sign up. Two ways to get here (two links on the front page )

Devs: Elise, Florin
-->

<table width="729px">
    <tr>
    		<td class="title" colspan="3">
    		<!-- Sign Up -->
			<img src="/Bernie/images/sign_up_text.png" alt="Sign Up" />
    		</td>
    	</tr>

        <!-- Code here for php include form1 and form2 -->
        <!-------------------- NEEDS LOGIC: When to display which step of the sign up? -------------------->
        {if:id==1}
							{include:includes/Form1.html}
        {elseif:id==2}
							{include:includes/Form2.html}
        {elseif:id==3}
							{include:includes/Confirmation.html}
		{end}
                    

	</td>
    	</tr>
	</table>
