/*/          
 * FILE/PATH.PHP
 * The sign up page
 * Code here for the title and tabs, forms for changing profile information and editing interests are included.
 *
 * Usage: HOW IT IS USED
 *
 * Devs: Elise, Florin
 *
/*/

<table width="729px">
    <tr>
    		<td class="title" colspan="2">
    		<!-- Sign Up -->
			<img src="/Bernie/images/sign_up_text.png" alt="Sign Up" />
    		</td>
    	</tr>
    	<tr>
    		<td class="tabs" colspan="2">
    		<!-- Cell for tabs with two sign up steps -->

			<table>
				<tr class="subtitle">
					<td class="spacer"></td>
					<td class="tab_open">
					<b>STEP 1:</b> User info
					</td>
					<td class="tab_closed">
					<b>STEP 2:</b> Interests
					</td>
				</tr>
			</table>
			
    		</td>
    	</tr>
    	<tr>
        <td>

        <!-- Code here for php include form1 and form2 (will add as soon as i figure out the syntax....) -->

	</td>
    	</tr>
	</table>

  </section>